/* COLORS AND COLORS CLASSES */
:root{
    --shadowgray: rgb(37, 35, 35);
    --beige: rgb(169, 153, 133);
    --bone: rgb(218, 210, 188);
}

.bg-sg{
    background-color: var(--shadowgray);
}

.text-sg{
    color: var(--shadowgray);
}

.bg-be{
    background-color: var(--beige);
}

.text-be{
    color: var(--beige);
}

.bg-bo{
    background-color: var(--bone);
}

.text-bo{
    color: var(--bone);
}

/* FONTS */

body{
    background-color: var(--shadowgray);
    color: var(--bone);
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-family: "Saira Stencil", sans-serif;
}

/* HEADER */
.header-custom{
    height: 10vh;
    background-color: var(--beige);
    color: var(--shadowgray);
}

/* SECTION: BUTTONS */
.btn-custom{
    background-color: transparent;
    border: 3px solid var(--beige);
    color: var(--bone);
    padding: 10px;
    height: 8vh;
    width: 200px;
    transition: 0.8s;
}

.btn-custom:hover{
    transform: scale(1.1);
    background-color: var(--bone);
    color: var(--shadowgray);
}

#addNewTaskInput{
    width: 60%;
}

.form-control{
    height: 8vh;
    font-size: 18px;
    border-radius: 0px;
    background-color: var(--bone);
    border: 3px solid var(--beige);
}

.form-control:focus{
    border-color: var(--beige);
    background-color: var(--bone);
    box-shadow: none;
}

.form-check-input{
    cursor: pointer;
}

.form-check-input:checked{
    border-color: var(--beige);
    background-color: var(--bone);
    box-shadow: none;
    cursor: pointer;
}

.form-check-input:focus{
    box-shadow: none;
}

.input-error::placeholder {
    color: red;
    text-transform: uppercase;
    font-weight: 600;
}

/* SECTION: TASK LIST */

.wrapperList{
    background-color: var(--beige);
    /* height: 100vh; */
    padding: 30px 50px;
    margin-top: 40px;
}

.rowTask{
    background-color:var(--shadowgray);
    border: 3px solid var(--bone);
    height: 70px;
    margin-bottom: 20px;
}

.icon{
    cursor: pointer;
}



/* MEDIA QUERIES */
@media screen and (max-width: 900px){
    
    .btn-custom{
        padding: 5px;
    }

    .wrapperList{
        padding: 30px 30px;
    }

}